.twoColumnGrid {
  display: grid;
  grid-template-columns: 500px 1fr;
}

form {
  border: 1px solid gray;
  border-radius: 8px;
  padding: 20px;
}

input {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

label {
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
  background-color: steelblue;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: tomato;
}

/* table {
  width: 100%;
  border-spacing: 1rem;
  cursor: pointer;
}

th,
td {
  text-align: center;
} */

table {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  /* border-collapse: collapse; */
  width: 100%;
  border-spacing: 1rem;
}

table thead > tr {
  border: solid 2px #eeeeee;
}

table tr th {
  text-align: center;
}

table tr td {
  text-align: left;
}

table td,
th {
  padding: 1.5rem 0;
}
